<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.by.bsm.mapper.system.AuthorMapper" >
    <select id="getUser" resultType="com.by.bsm.entity.system.User">
        SELECT * from bsm.bsm_user bu WHERE bu.`user_name` = #{userName} AND bu.`password` = #{pwd}
    </select>

</mapper>